<div class="services">
	<h1>About Us</h1>
	<div class="about">		
		<h2>Our Firm</h2>
			<p class="intro">Under the original name of First Financial Group, A.G. Wealth Planning was established October 28, 1682, a day after Philadelphia was founded by William Penn in the English Crown Province of Pennsylvania between the Delaware and Schuylkill rivers. Today, AGWP stands as the oldest and must trusted financial services firm in the United States. A.G. Wealth Planning prides itself by providing the highest quality of financial advice by folowing their core values which are:
				<ul>
					<li>
						Treat our coworkers and our clients like we would our families
					</li>
					<li>
						If we would not use a specifc strategy on our own mother, never recomend it for our valued clients
					</li>
					<li>
						We do not have customers, we have valued relationships with generations of families
					</li>
				</ul>
			</p>
		</div>
	<div class="about">		
		<h2>Our Team</h2>
			<p class="intro">At A.G. Wealth Planning, we value talent, inovation and continued education. We never tell our employees what to do. They are smart people, so we ask them what to do. We are proud to say that on our team, we have multple CFA, CPA and CFP® professionals, as well as alumni from the finest educational instutions all over the United States. Most importantly, we value cohesiveness and achievement. On that note, we would love to tell you about our team.</p>
	</div>
	<div class="team">
		<img  class="staff" src="images/ceo.png">
	</div>
	<div class="us">
		<h2>Dr. Alan Gregg, CFA, CPA, CFP®</h2>
			<h3>Senior Partner, CEO & Wealth Advisor</h3>
			<p class="intro">Alan Gregg is our proud senior Partner, Chief Executive Officer and Wealth Advisor. After graduating from from The Wharton School of Business at the University of Pennsylvania right here in Philadelphia, Alan went on to recieve his PhD in Business Economics from Harvard Business School. Upon completion, Alan returned to his beloved city of Philadelphia, where he was mentored by our now former CEO, Ronald Trumpstein. Alan craved more education and continued to build his financial expertise by earning his CFA, CPA, and CFP® designations. Alan now overseas all management and operations of AGWP and produly advises families and instutions on their hard earned wealth. Alan is also an ajunct professor in the MBA program at the Wharton School of Business. In his free time, Alan volunteers at Big Brothers, Big Sisters and enjoys participating in triatholons. Alan lives in Lower Merion with his wife Jamie and two children, Ryan and Allison.</p>
	</div>
	<div class="team">
		<img  class="staff" src="images/cpa.png">
	</div>
	<div class="us">
		<h2>David Cohen JD, LLM, CPA</h2>
			<h3>Senior Partner, CFO & Estate Planner</h3>
			<p class="intro">David Cohen is our proud Partner, Chief Financial Officer and head of Estate Planning. While attending Harvard Law School, David met Alan and the two quickly realized they would be fantastic business partners. David joined AGWP upon completion of his Juris Doctor and Masters of Law. David now overseas all financial aspects of the firm inclduing accounting, employee compensation and benefits and advises our clients on the most prudent and customized estate planning strategies as allowed by current tax law. David is also an ajunct professor at Villanova School of Law and Business School. In his free time, David volunteers providing pro bono family law representation at the Philadelphia Family Court. David lives in Villanova with his wife Sarah and three children, Kyle, Nicole and Samantha.</p>
	</div>
		<div class="team">
		<img  class="staff" src="images/cfa.png">
	</div>
	<div class="us">
		<h2>Rachel Wienstein, CFA</h2>
			<h3>Partner, CIO & Portfolio Manager</h3>
			<p class="intro">Rachel is our proud Partner, Chief Investment Officer and head of Portfolio Management. While attending The Wharton School of Business to achieve her Masters of Business Administration with a concentration on Modern Portfolio Theory, Rachel was tought by Dr. Alan Gregg in her Portfolio Management Theory class. Rachel looked up to Alan as a mentor, similar to how Alan was mentored by Ronald, our former CEO. Rachel overseas all portfolio construction, manager due diligence and equity, fixed income and alternatives research for all AGWP clients and our employee retirement plans. In her free time, Rachel volunteers at the Philadelphia Zoo and is also earning her CAIA designation. Rachel lives with her husband Frank and dog Franklin in Rittenhouse Square. They are expecting their first child later this year!</p>
	</div>
		<div class="team">
		<img  class="staff" src="images/cfp.png">
	</div>
	<div class="us">
		<h2>Steven Davidson, CFP®</h2>
			<h3>Partner, CRO & Financial Planner</h3>
			<p class="intro">Steven is our orud Partner, Chief Relationship Officer and head of Financial Planning. While attending Villanova University for his Masters of Business Administration, Steven was tought by David in his Tax Planning Strategies class. Just like Rachel and Alan, Steven began to look up to David as a mentor. Soon after graduation, Steven began his career with AGWP and overseas all client servicing and strategy implemintation. Steven's relationships are tailored to the CFP® Board financial planning process. In his free time, Steven gives Ted talks on the benefits of financial planning for youth and young adults and also enjoys attending Philadelphia sports games and golfing. Steven lives in Newtown with his Wife Sharron and new born baby Scott.</p>
	</div>

</div>
