<div class="services">
	<h1>Products & Services</h1>
	<div class="product">		
		<h2>Financial Planning</h2>
			<p>True financial planning is a comprehensive, ongoing approach that starts with helping you define your dreams, developing a plan to help you get there, then tracking your progress along the way, recommending changes where needed.</p>
		</div>
	<div class="product">		
		<h2>Protection Planning</h2>
			<p>Life can surprise you. So help protect your family and your assets and meet your retirement needs with your choice of products: life insurance, disability income, auto and home and long-term care, as well as annuities for retirement income.</p>
	</div>
	<div class="product">		
		<h2>Tax Planning</h2>
			<p>Logical analysis of a financial situation or plan from a tax perspective, to align financial goals with tax efficiency planning. The purpose of tax planning is to discover how to accomplish all of the other elements of a financial plan in the most tax-efficient manner possible. Tax planning thus allows the other elements of a financial plan to interact more effectively by minimizing tax liability.</p>
	</div>
	<div class="product">
		<h2>Retirement Planning</h2>
			<p>The process of determining retirement income goals and the actions and decisions necessary to achieve those goals. Retirement planning includes identifying sources of income, estimating expenses, implementing a savings program and managing assets. Future cash flows are estimated to determine if the retirement income goal will be achieved.</p>
	</div>
	<div class="product">
		<h2>Portfolio Management</h2>
			<p>Portfolio management is the art and science of making decisions about investment mix and policy, matching investments to objectives, asset allocation for individuals and institutions, and balancing risk against performance. Portfolio management is all about strengths, weaknesses, opportunities and threats in the choice of debt vs. equity, domestic vs. international, growth vs. safety, and many other tradeoffs encountered in the attempt to maximize return at a given appetite for risk.</p>
	</div>
	<div class="product">
		<h2>Estate Planning</h2>
			<p>The collection of preparation tasks that serve to manage an individual's asset base in the event of their incapacitation or death, including the bequest of assets to heirs and the settlement of estate taxes. Most estate plans are set up with the help of an attorney experienced in estate law.</p>
	</div>
</div>
